DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=navigatorway.com,www.navigatorway.com
DJANGO_BEHIND_PROXY=1
CSRF_TRUSTED_ORIGINS=https://navigatorway.com,https://www.navigatorway.com

POSTGRES_DB=navigatorway
POSTGRES_USER=navigator
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432
