              {% for page in menus1.all %}
                <li class="menu-item
                    {% if page.pagename in request.path %}
                       active
                    {% endif %}
                    ">
                  <a href="{% url 'content' page.pagename %}" class="menu-link">
                    <div data-i18n="">{{ page.menuname }}</div>
                  </a>
                </li>
              {% endfor %}
              </ul>
            </li>
            <li id="7" class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-wrench"></i>
                <div data-i18n="praktic">Практика Пути</div>
              </a>

              <ul class="menu-sub">
              {% for page in menus2 %}
                <li class="menu-item
                    {% if page.pagename in request.path %}
                       active
                    {% endif %}
                    ">
                  <a href="{% url 'content' page.pagename %}" class="menu-link">
                    <div data-i18n="">{{ page.menuname }}</div>
                  </a>
                </li>
              {% endfor %}
              </ul>
            </li>
            <li id="11" class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-magnet"></i>
                <div data-i18n="different">Всячина</div>
              </a>

              <ul class="menu-sub">
              {% for page in menus3.all %}

                <li class="menu-item
                    {% if page.pagename in request.path %}
                       active
                    {% endif %}
                    ">
                  <a href="{% url 'content' page.pagename %}" class="menu-link">
                    <div data-i18n="">{{ page.menuname }}</div>
                  </a>
                </li>
              {% endfor %}