<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta name="author" content="Альберт Катасонов">
    <meta name="yandex-verification" content="1b7644d45f010815" />
    {% if request.path == '/mail_arh' %}
        <title>Ответы на вопросы</title>
        <meta name="description" content="Ответы на вопросы читателей в рамках бесплатного консультирования" />
    {% else %}
        {% for page in pages.all %}
            <title>{{ page.menuname }}</title>
            <meta name="description" content="{{ page.pagedescription }}" />
            <meta name="keywords" content="{{ page.pagekeywords }}" />
        {% empty %}
            <title>Штурман</title>
            <meta name="description" content="Тотальная стратегия Жизни" />
            <meta name="keywords" content="смысл жизни, самореализация, успех, успех в жизни, достичь успеха, добиться успеха, стратегическое управление,
            системный подход, комплексный подход, развитие,	саморазвитие, эффективность, личная эффективность, хозяин жизни, власть, лидерство, харизма,
            образ жизни, личность, личность в психологии, творческий потенциал личности, познание и творчество, личностный рост, психическая энергия,
            биоэнергия, удовлетворение потребностей, интересы человека, психология отношений, психология сексуальности, манипуляция людьми, решение проблем,
            проблема выбора, планирование жизни, самомотивация, обучающий курс, комфорт, свое дело, самодостаточность" />
        {% endfor %}
    {% endif %}    <!-- Favicon -->

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'assets/js/config.js' %}"></script>
    <!-- Yandex.Metrika informer -->
<!--    <a href="https://metrika.yandex.ru/stat/?id=12265939&amp;from=informer"-->
<!--    target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/12265939/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"-->
<!--    style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="12265939" data-lang="ru" /></a>-->
    <!-- /Yandex.Metrika informer -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(12265939, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/12265939" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WCSP46RJ7C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WCSP46RJ7C');
    </script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="{% url 'home' %}" class="app-brand-link">
              <span class="app-brand-logo demo">
<!--                <img src = "{% static 'logo_navi.png' %}" width="47">-->
              </span>
              <span class="app-brand-text demo menu-text ms-3">
                <div align="center"><img src = "{% static 'logo_navi.png' %}" width="47"></div>
              </span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

<!--          <div class="menu-inner-shadow"></div>-->

          <ul class="menu-inner py-1">

            <li class="menu-item
                    {% if request.path == '/' %}
                       active
                    {% endif %}
                    ">
              <a href="{% url 'home' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-crown"></i>
                <div data-i18n="Analytics">Главная</div>
              </a>
            </li>
              {% for page in menus5.all %}
                <li class="menu-item
                    {% if page.pagename in request.path %}
                       active
                    {% endif %}">
                  <a href="{% url 'content' page.pagename %}" class="menu-link">
                    <i class="menu-icon tf-icons bx {% cycle 'bxs-graduation' 'bxs-book' 'bxs-key' %}"></i>
                    <div data-i18n="">{{ page.menuname }}</div>
                  </a>
                </li>
              {% endfor %}

            <li id="5" class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-binoculars"></i>
                <div data-i18n="teoretic">Теория Пути</div>
              </a>

              <ul class="menu-sub">
                {% include 'includes/menu_123.html' %}
              </ul>
            </li>
              <!-- меню Контакты-->
              {% for page in menus4.all %}
                <li class="menu-item
                    {% if page.pagename in request.path %}
                       active
                    {% endif %}">
                  <a href="{% url 'content' page.pagename %}" class="menu-link">
                    <i class="menu-icon tf-icons bx {% cycle 'bx-mail-send' 'bx-pyramid' %}"></i>
                    <div data-i18n="">{{ page.menuname }}</div>
                  </a>
                </li>
              {% endfor %}

            <li class="menu-item
                    {% if request.path == '/tehtarget/' %}
                       active
                    {% endif %}
                    ">
              <a href="{% url 'tehtarget' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-rocket"></i>
                <div data-i18n="">Психотехники по Целям</div>
              </a>
            </li>
            <li class="menu-item
                    {% if request.path == '/cources/' %}
                       active
                    {% endif %}
                    ">
              <a href="{% url 'cources' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-rocket"></i>
                <div data-i18n="">Психотехники в Курсах</div>
              </a>
            </li>
          {% if 'type_r' in request.path %}
            <li id="42" class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-hive"></i>
                <div data-i18n="different">Виды отношений</div>
              </a>

              <ul class="menu-sub">
              {% for page in menus6.all %}

                <li class="menu-item
                    {% if page.pagename in request.path %}
                       active
                    {% endif %}
                    ">
                  <a href="{% url 'content' page.pagename %}" class="menu-link">
                    <div data-i18n="">{{ page.menuname }}</div>
                  </a>
                </li>
              {% endfor %}
          {% endif %}
          {% if 'kom_er' in request.path %}
            <li id="52" class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-conversation"></i>
                <div data-i18n="different">Ошибки общения</div>
              </a>

              <ul class="menu-sub">
              {% for page in menus7.all %}

                <li class="menu-item
                    {% if page.pagename in request.path %}
                       active
                    {% endif %}
                    ">
                  <a href="{% url 'content' page.pagename %}" class="menu-link">
                    <div data-i18n="">{{ page.menuname }}</div>
                  </a>
                </li>
              {% endfor %}
          {% endif %}
          {% if request.user.is_authenticated %}
            <li class="menu-item">
              <a href="{% url 'login' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-crown"></i>
                <div data-i18n="">Login</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'logout' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-crown"></i>
                <div data-i18n="">Logout</div>
              </a>
            </li>
            {% if request.user.is_staff %}
            <li class="menu-item">
              <a href="{% url 'registr' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-crown"></i>
                <div data-i18n="">регистрация</div>
              </a>
            </li>
            {% endif %}
          {% endif %}
          </ul>
        </aside>
        <!-- / Menu -->
        <!-- Layout container -->
        <div class="layout-page">
             <img src = "">
          <!-- Navbar -->
          <!-- Кнопка для мобильных - боковое меню -->
          <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>
          <!-- END Кнопка для мобильных - боковое меню -->
            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                <img src="{% static 'navi_top.png' %}" height="50px" alt="">

              <!-- Search -->
<!--              <div class="navbar-nav align-items-center">-->
<!--                <div class="nav-item d-flex align-items-center">-->
<!--                  <i class="bx bx-search fs-4 lh-0"></i>-->
<!--                  <input-->
<!--                    type="text"-->
<!--                    class="form-control border-0 shadow-none"-->
<!--                    placeholder="Search..."-->
<!--                    aria-label="Search..."-->
<!--                  />-->
<!--                </div>-->
<!--              </div>-->
              <!-- /Search -->

          </nav>

          <!-- / Navbar -->
          <!-- Content wrapper -->
          <div class="content-wrapper">


          {% block content %}
          {% endblock %}

            <footer class="content-footer footer bg-footer-theme">
            <!--кнопка наверх-->
            <style>
               .btn-up {
                position: fixed; /* фиксированная позиция */
                background-color: #673ab7; /* цвет заднего фона */
                right: 20px; /* расстояние от правого края */
                bottom: 10px; /* расстояние от нижнего края */
                border-radius: 8px; /* скругление углов (можно задать каждый по отдельности top-right и т.д.) */
                cursor: pointer; /* форма курсора */
                display: flex; /* не отображать элемент */
                align-items: center;
                justify-content: center;
                transition: opacity 0.3s ease-in-out;
                width: 35px;
                height: 35px;
                opacity: 0.7;
              }

              .btn-up::before {
                content: "";
                width: 35px;
                height: 35px;
                background: transparent no-repeat center center;
                background-size: 100% 100%;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
              }

              .btn-up_hide {
                display: none;
              }

              .btn-up_hiding {
                opacity: 0;
              }

              @media (hover: hover) and (pointer: fine) {
                .btn-up:hover {
                  background-color: #512da8; /* цвет заднего фона при наведении */
                }
              }
            </style>
            <div class="btn-up btn-up_hide"></div>
              <!--END кнопка наверх-->

              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  © 2011 -
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  Штурман Своего Пути
                </div>
                <div>
                  <a href="{% url 'home' %}" class="footer-link me-4">Главная</a>
                  <a href="{% url 'tehtarget' %}" class="footer-link me-4">Психотехники</a>
                  <a href="{% url 'cources' %}" class="footer-link me-4">Курсы</a>

                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->

    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
     <!--кнопка наверх-->
    <script>
      const btnUp = {
        el: document.querySelector('.btn-up'),
        scrolling: false,
        show() {
          if (this.el.classList.contains('btn-up_hide') && !this.el.classList.contains('btn-up_hiding')) {
            this.el.classList.remove('btn-up_hide');
            this.el.classList.add('btn-up_hiding');
            window.setTimeout(() => {
              this.el.classList.remove('btn-up_hiding');
            }, 300);
          }
        },
        hide() {
          if (!this.el.classList.contains('btn-up_hide') && !this.el.classList.contains('btn-up_hiding')) {
            this.el.classList.add('btn-up_hiding');
            window.setTimeout(() => {
              this.el.classList.add('btn-up_hide');
              this.el.classList.remove('btn-up_hiding');
            }, 300);
          }
        },
        addEventListener() {
          // при прокрутке окна (window)
          window.addEventListener('scroll', () => {
            const scrollY = window.scrollY || document.documentElement.scrollTop;
            if (this.scrolling && scrollY > 0) {
              return;
            }
            this.scrolling = false;
            // если пользователь прокрутил страницу более чем на 300px
            if (scrollY > 300) {
              // сделаем кнопку .btn-up видимой
              this.show();
            } else {
              // иначе скроем кнопку .btn-up
              this.hide();
            }
          });
          // при нажатии на кнопку .btn-up
          document.querySelector('.btn-up').onclick = () => {
            this.scrolling = true;
            this.hide();
            // переместиться в верхнюю часть страницы
            window.scrollTo({
              top: 0,
              left: 0,
              behavior: 'smooth'
            });
          }
        }
      }

      btnUp.addEventListener();
    </script>
  <!--END скрипта кнопка наверх-->
  </body>
</html>