{% extends 'base-cont.html' %}
{% load static %}

{% block title %} Штурман {% endblock %}

{% block content %}
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              {% for cursceteh in curscetehs %}
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="{% url 'cources' %}"><b>Список курсов</b></a> /</span> {{ cursceteh.name_cource }}</h4>
              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="card">
                    <h2 class="card-header">{{ cursceteh.name_cource }}</h2>
                    <div class="card-body">
                      <div class="">
                        <div class="divider-text">
                          <hr>
                          <p>{{ cursceteh.koment_cource|safe }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}

              <h5 class="pb-1 mb-4">Все техники курса </h5>
              <div class="row mb-5">
                {% for tehnik in tehniks %}
                <div class="col-md-6 col-lg-6">
                  <div class="card mb-4">
                    <div class="card-body">
                      <h5 class="card-title"><a href="{% url 'tehnik_one' tehnik.id_texnik %}" class="">{{ tehnik.name }}</a></h5>
                      <div class="card-subtitle mb-3"><i>Методика техники: </i> <b>{{ tehnik.podhod }}</b></div>
                      <div class="card-subtitle text-muted mb-3">{{ tehnik.istochnik }}</div>
                      <p class="card-text">
                        {{ tehnik.cutanotacia|safe }}
                      </p>
                      <hr>
                     <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i>Возрасттные ограничения -</i> <b>{{ tehnik.agehuman }}</b></li>
                            <li class="list-group-item"><i>Предназначена -</i> <b>{{ tehnik.sexhuman }}</b></li>
                            <li class="list-group-item"><i>Техика выполняется -</i> <b>{{ tehnik.peoplehuman }}</b></li>
                      </ul>

                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
            <!-- / Content -->
{% endblock %}