{% extends 'base-cont.html' %}
{% load static %}

{% block content %}
            <!-- Content -->
        {% for tehnik in tehnik %}
            <div class="container-xxl flex-grow-1 container-p-y">

              <!-- Content types -->
              <div class="row">
                      <h6 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><b>
                        <ul>
                            <li><a href="#" onclick="history.back();">Вернуться назад</a></li>
                            <li><a href="{% url 'tehtarget' %}">К списку направлений </a><br></li>
                            <li><a href="{% url 'cources' %}">К списку курсов</a></li>
                        </ul>
                        </b></span></h6>

                <div class="col-lg-9 mb-4">
                  <div class="card mb-4">
                    <div class="card-body">

                      <h4 class="card-title">{{ tehnik.name }}</h4>
                      <div class="card-subtitle mb-3"><i>Методика техники: </i> <b>{{ tehnik.podhod }}</b></div>
                        <div style="padding: 3px">{{ tehnik.istochnik }}</div>
                        <div><ul class="list-group list-group-flush">
                            <li class="list-group-item"><i>Возрасттные ограничения -</i> <b>{{ tehnik.agehuman }}</b></li>
                            <li class="list-group-item"><i>Предназначена -</i> <b>{{ tehnik.sexhuman }}</b></li>
                            <li class="list-group-item"><i>Техика выполняется -</i> <b>{{ tehnik.peoplehuman }}</b></li>
                        </ul></div>

                      <hr>
                        <p class="card-text">
                            <b><i>{{ tehnik.anotacia|safe }}</i></b>
                      </p>
                      <hr>
                      <p class="card-text">
                        {{ tehnik.texnika|safe }}
                      </p>
                      <hr>
                      <p class="card-text">
                        {{ tehnik.koment_spec|safe }}
                      </p>
                    </div>
                  </div>
                </div>
            </div>
        {% endfor %}

            <!-- / Content -->
{% endblock %}